<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Doctogram | Smart Disease Prediction</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="icon" type="image/x-icon" href="gallery/img/ic.png">
	<link rel="stylesheet" href="gallery/css/main.css" />
	<link rel="stylesheet" href="gallery/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="gallery/css/font-awesome-4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="gallery/css/home.css" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="particlejs.js"></script>
	<style>
	#webcoderskull{
    position:absolute;
    left: 0;
    top: 27%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

canvas{
    height:100vh;
    background-color:#16a085;
}
#webcoderskull h1{
  letter-spacing: 5px;
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
</style>
</head>
<body>
<div style="position:sticky">
	<nav id="myNav" class="navbar navbar-dark bg-dark navbar-expand-sm">
		<div class="col-md-2">
			<a href="/"><img src="gallery/img/doctor-logo.jpg" class="navbar-brand mr-0" width="37px" alt="Logo" /></a>
			<h4 class="brand-tit" style="font-size:25px;">Doctogram</h4>
		</div>

		<div class="col-md-10">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarMain">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navBarMain">
				
			</div>
		</div>
	</nav>

<div id="particles">
  <div id="webcoderskull" >
    <center>
            <h2 style="color:#000;font-size: 4.5vw; ">Doctogram <span class="name" style="font-size:38px"></span></h2>
            <br>
            <br>
            <h2 class="tagline container" style="color:#000;">Doctogram predicts disease from symptoms given by user</h2>
            <br>
            <br>
	</center>
    <p><button class="w3-btn w3-border w3-xlarge" style="color:#fff">Try our Disease Predictor</button></p>
  </div>
</div>
</div>

	

	<div class="container-fluid p-0">
		

		<div class="jumbotron w-100 mb-0 bg-light jb jb-sc">
			<div class="wrk display-4">See How It Works</div>
			<div class="wr-stp row justify-content-center">

				<div class="col-md-3 m-4 ct-a">
					<div class="cnt">1</div>
				  <img class="card-img-top" src="gallery/img/account.png" alt="Card image cap">
				  <div class="card-body">
				    <p class="card-text display-1">Provide your symptoms</p>
				  </div>
				</div>

				<div class="col-md-3 m-4 ct-b">
					<div class="cnt">2</div>
					<img class="card-img-top" src="gallery/img/idea.png" alt="Card image cap">
				  <div class="card-body">
				    <p class="card-text display-1">Get your disease predicted</p>
				  </div>
				</div>

				<div class="col-md-3 m-4 ct-c">
					<div class="cnt">3</div>
					<img class="card-img-top" src="gallery/img/notes.png" alt="Card image cap">
				  <div class="card-body">
				    <p class="card-text display-1">Get quick medical advice</p>
				  </div>
				</div>

			</div>
		</div>

	</div>
	<script>
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"</script>
<script src="gallery/js/script.js"></script>
<script src="gallery/js/particles.min.js"></script>
<script src="gallery/js/app.js"></script>
<script src="gallery/js/typed.min.js"></script>
<script>var typed = new Typed('.name', { strings: ["High Accuracy", "Trustworthy Predictions"], typeSpeed: 40, backSpeed: 40, loop: true }); </script>
	
	
	
	</body>
	</html>
